<!DOCTYPE html>
<html xmlns="https://thymeleaf.org">

<head>
    <title>Login</title>
    <script type="text/javascript">

        var name = `Alex`
        var age = 28

        console.log(`hello world, my name is ` + name + ` and i am ` + age + ` years old`)
        console.log(`hello world, my name is ${name} and i'm ${age} years old`)
        console.log(`the value of "age" is: ${age}, the data type is ${typeof age}`)

        var car
        var tesla = null

        console.log(`the value of "car" is: ${car}`)
        console.log(`the value of "tesla" is: ${tesla}`)

        console.log(`5 + 10 = ${5 + 10}`)

        var person = {
            'firstName': 'Alex',
            'lastName': 'McMahon',
            'age': '28',
            'address': {
                'line 1': '123 Fake Street',
                'line 2': 'apt 3',
                'city': 'San Antonio',
                'state': 'Texas'
            }
        }
        console.log(person)
    </script>
</head>

<body>
    <h1>Login Below</h1>
    <div>
        Username: <input type="text" th:field="${user.username}" />
    </div>
    <div>
        Password: <input type="password" th:field="${user.password}" />
    </div>
    <div>
        <button type="button" id="submitBtn">Submit</button>
    </div>
    <script>
        var submitBtn = document.querySelector("#submitBtn")
        console.log(`submitBtn is:`)
        console.log(submitBtn)
    </script>
</body>

</html>