<!DOCTYPE html>
<html xmlns="https://thymeleaf.org">
<head>
    <title>Login</title>
    <script type="text/javascript">
        var name = `Alex`
        var age = 28
        alert(`hello world, my name is ` + name + ` and i am `+ age + ` years old`)
        alert(`hello world, my name is ${name} and i'm ${age} years old`)
    </script>
</head>
<body>
    <h1>Login Below</h1>
    <div>
        Username: <input type="text" th:field="${user.username}"/>
    </div>
    <div>
        Password: <input type="password" th:field="${user.password}"/>
    </div>
</body>
</html>