<!DOCTYPE html>
<html xmlns="https://thymeleaf.org"></html>

<head>
    <title>Register</title>
</head>

<body>
    <h1>Register Below</h1>
    <form action="" method="post">
        <div style="margin-bottom: 3px;">
            <label>Username</label>
            <input type="text" th:field="${user.username}"/>
        </div>
        <div style="margin-bottom: 3px;">
            <label>Password</label>
            <input type="password" th:field="${user.password}"/>
        </div>
        <div style="margin-bottom: 3px;">
            <label>Confirm Password</label>
            <input type="password" id="confirmPassword"/>
        </div>
        <button type="submit" >Create Account</button>
    </form>
    <script type="text/javascript" src="/js/register.js"></script>
</body>

</html>